<div id="modal">
  <a class="pull-right" {{action "closeModal"}}>X</A>
  <h1 id="modal-label">{{product.name}}</h1>
  <p class="lead">{{product.description}}</p>
  <p> {{product.price}}</p>
  <br>
</div>
