<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">{{store.name}}</h2>
  <p class="lead">{{store.address}}</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

  <div class="map-canvas">

  </div>
</div>
