<div id="modal">
  <a class="pull-right" {{action "closeModal"}}>X</A>
  <h1 id="modal-label">{{store.name}}</h1>
  <p class="lead">{{store.address}}</p>
  <div class="map-canvas">

  </div>
  <br>
</div>
