<div class="row">
  <div class="large-12 columns store-list">
    <div style="padding:5%;">
      <h2 class="font-family: Lato"><span class="header ion ion-medkit"></span> Medicines</h2>
    </div>
    {{product-list}}
  </div>
</div>
