<div class="row">
<div class="large-12 columns store-list">
  <div style="padding:5%">
    <h2 style="font-family: Lato"> <span class="header ion ion-bag"></span>&nbsp; Stores</h2>
  </div>
    {{store-list}}
</div>
</div>
