<div class="row">
  <div class="large-12 columns">
    <h2 style="font-family: Lato">Medicine Search</h2>
    {{product-search-box}}
  </div>
</div>
<div class="row">
  <div class="large-12 columns form-search">
    <h2 style="font-family: Lato; text-align:left">Store Locator</h2>
    {{google-map latitude="34.851939" longitude="-82.399752"}}
  </div>
</div>
{{output}}
