<div class="row">
  <div class="large-12 columns">
    <h2 style="font-family: Lato"><span class="header ion-medkit"></span> &nbsp; Medicine Search</h2>
    <br>
    {{product-search-box}}
  </div>
</div>
<div class="row">
  <div class="large-12 columns form-search">
    <h2 style="font-family: Lato; text-align:left"> <span class="header ion-ios-paperplane"></span>&nbsp; Store Locator</h2>
    <br>
    {{google-map stores=model}}
  </div>
</div>
{{output}}
